@page "/relays"
@using SmartHomeWWW.Client.Models;
@using SmartHomeWWW.Core.Domain.Relays;

@inject ILogger<Relays> Logger
@inject RelaysHttpClient RelaysClient
@inject ISensorsHub HubConnection

<main>
    <div class="text-center">
        <h1>Relays</h1>
    </div>

    @if (RelayList != null && RelayList.Any())
    {
    <div class="container px-4 py5">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
            @foreach (var relay in RelayList)
            {
            <div class="col"><RelayBox Entry="relay" /></div>
            }
        </div>
    </div>
    }
    else
    {
        if (_isLoading)
        {
            <div class="col align-content-center">
                <span class="spinner-border text-primary" role="status"></span>
            </div>
        }
        else
        {
            <div class="alert alert-warning" role="alert">No relays found</div>
        }
    }
</main>

@code {
    private IReadOnlyList<RelayProxy> RelayList = Array.Empty<RelayProxy>();
    private bool _isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LoadRelays();

        HubConnection.OnRelayStateUpdated((id, state) =>
        {
            Logger.LogInformation("Received RelayStateUpdated for {Id} to '{State}'", id, state);
            foreach (var relay in RelayList.Where(r => r.Id == id))
            {
                relay.UpdateState(state);
            }
            StateHasChanged();
        });

        await HubConnection.StartIfNotConnectedAsync();
    }

    private async Task LoadRelays()
    {
        _isLoading = true;
        RelayList = (await RelaysClient.GetRelays()).Select(r => new RelayProxy(r, RelaysClient)).ToList();
        _isLoading = false;
    }

    public ValueTask DisposeAsync()
    {
        HubConnection.RemoveOnRelayStateUpdated();
        return ValueTask.CompletedTask;
    }
}
