
@{
    ViewData["Title"] = "Updates";
}

<div class="text-center">
    <h1 class="display-4">Updates</h1>
    <ul>
        @foreach (var firmware in ViewBag.Firmwares as IEnumerable<Version>) {
            <li>@firmware</li>
        }
    </ul>
</div>
